@model TeamWorkFlow.Core.Models.Task.PaginatedTasksViewModel
@{
	ViewData["Title"] = "All created Tasks";
}


<h2 class="text-center">@ViewBag.Title</h2>

@if (User?.Identity?.IsAuthenticated ?? false)
{
	if (User.IsAdmin() || User.IsOperator())
	{
		<a href="@Url.Action("Add", "Task")" class="btn btn-success">Add Task</a>
		<a href="@Url.Action("Mine", "Task")" class="btn btn-purple">My Tasks</a>
		<hr />
	}
	
	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
			<tr>
				<th>Project Number</th>
				<th>Name</th>
				<th>Description</th>
				<th>Status</th>
				<th>Priority</th>
				<th>Deadline</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Actions</th>
			</tr>
			</thead>
			<tbody>
			@foreach (var task in Model.Tasks)
			{
				<tr>
					<td>@task.ProjectNumber</td>
					<td>@task.Name</td>
					<td>@task.Description</td>
					<td>@task.Status</td>
					<td>@task.Priority</td>
					<td>@task.Deadline</td>
					<td>@task.StartDate</td>
					<td>@task.EndDate</td>
					<td>
							@if (User.IsAdmin() || User.IsOperator())
							{
								<div class="dropdown">
									<button class="btn btn-secondary dropdown-toggle" type="button" id="actionsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #007bff;">
										...
									</button>
									<div class="dropdown-menu" aria-labelledby="actionsDropdown">
										<a class="dropdown-item" href="@Url.Action("Edit", "Task", new { id = task.Id, extension = task.GetTaskExtension() })">
											<span class="text-primary">Edit</span>
										</a>
										<a class="dropdown-item" href="@Url.Action("Delete", "Task", new { id = task.Id, extension = task.GetTaskExtension() })">
											<span class="text-danger">Delete</span>
										</a>
										<a class="dropdown-item" href="@Url.Action("Details", "Task", new { id = task.Id, extension = task.GetTaskExtension() })">
											<span class="text-info">Details</span>
										</a>
										<a class="dropdown-item" href="@Url.Action("AddToMine", "Task", new { id = task.Id, extension = task.GetTaskExtension() })">
											<span class="text-purple">Add to My collection</span>
										</a>
									</div>
								</div>
							}
					</td>
				</tr>
			}
			</tbody>
		</table>

	</div>
	<nav aria-label="Page navigation">
		<ul class="pagination justify-content-center">
			@if (Model.Pager != null && Model.Pager.TotalPages > 1)
			{
				if (Model.Pager.CurrentPage > 1)
				{
					<li class="page-item">
						<a class="page-link" asp-action="All" asp-route-page="@(Model.Pager.CurrentPage - 1)">Previous</a>
					</li>
				}
				for (int i = Model.Pager.StartPage; i <= Model.Pager.EndPage; i++)
				{
					<li class="page-item @(i == Model.Pager.CurrentPage ? "active" : "")">
						<a class="page-link" asp-action="All" asp-route-page="@i">@i</a>
					</li>
				}
				if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
				{
					<li class="page-item">
						<a class="page-link" asp-action="All" asp-route-page="@(Model.Pager.CurrentPage + 1)">Next</a>
					</li>
				}
			}
		</ul>
	</nav>
}


@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}