@model ICollection<TaskViewModel>
@{
	ViewData["Title"] = "Tasks";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
	@foreach (var t in Model)
	{
		<div class="card col-4" style="width: 20rem; ">
			<div class="card-body">
				<table>
					<thead>
					<tr>
						<th>Project Number</th>
						<th>Name</th>
						<th>Description</th>
						<th>Status</th>
						<th>Priority</th>
						<th>Deadline</th>
						<th>Start Date</th>
						<th>End Date</th>
					</tr>
					</thead>
					<tbody>
					@foreach (var task in Model)
					{
						<tr>
							<td>@task.ProjectNumber</td>
							<td>@task.Name</td>
							<td>@task.Description</td>
							<td>@task.Status</td>
							<td>@task.Priority</td>
							<td>@task.Deadline</td>
							<td>@task.StartDate</td>
							<td>@(task.EndDate ?? "-")</td>
						</tr>
					}
					</tbody>
				</table>
			</div>

			<a asp-controller="Task" asp-action="All" asp-route-id="@t.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Details</a>
			@if (User?.Identity?.Name == t.Creator)
			{
				<a asp-controller="Task" asp-action="Edit" asp-route-id="@t.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Edit</a>
				<a asp-controller="Task" asp-action="Delete" asp-route-id="@t.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Delete</a>
			}
			else
			{
				<form class="input-group-sm" asp-controller="Task" asp-action="Given" asp-route-id="@t.Id">
					<input type="submit" value="Subscribe" class="fs-6 btn btn-warning mb-2 w-100 p-3 fw-bold" />
				</form>
			}
		</div>
	}
</div> 

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}