@model ICollection<TaskServiceModel>
@{
	ViewData["Title"] = "All created Tasks";
}

<h2 class="text-center">@ViewBag.Title</h2>

<div class="text-right mb-3">
	<a href="@Url.Action("Add", "Task")" class="btn btn-success">Add Task</a>
</div>

<hr />

<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
		<tr>
			<th>Project Number</th>
			<th>Name</th>
			<th>Description</th>
			<th>Status</th>
			<th>Priority</th>
			<th>Deadline</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var task in Model)
		{
			<tr>
				<td>@task.ProjectNumber</td>
				<td>@task.Name</td>
				<td>@task.Description</td>
				<td>@task.Status</td>
				<td>@task.Priority</td>
				<td>@task.Deadline</td>
				<td>@task.StartDate</td>
				<td>@task.EndDate</td>
				<td>
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="actionsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #007bff;">
							...
						</button>
						<div class="dropdown-menu" aria-labelledby="actionsDropdown">
								<a class="dropdown-item" href="@Url.Action("Edit", "Task", new { id = task.Id, extension = task.GetTaskExtension()})">
								<span class="text-primary">Edit</span>
							</a>
								<a class="dropdown-item" href="@Url.Action("Delete", "Task", new { id = task.Id, extension = task.GetTaskExtension()})">
								<span class="text-danger">Delete</span>
							</a>
								<a class="dropdown-item" href="@Url.Action("Details", "Task", new { id = task.Id, extension = task.GetTaskExtension()})">
								<span class="text-info">Details</span>
							</a>
						</div>
					</div>
				</td>
			</tr>
		}
		</tbody>
	</table>

</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}