@model ICollection<TaskViewModel>
@{
	ViewData["Title"] = "All created Tasks";
}

<h2 class="text-center">@ViewBag.Title</h2>

<div class="text-right mb-3">
	<a href="@Url.Action("Add", "Task")" class="btn btn-success">Add Task</a>
	<a href="@Url.Action("Edit", "Task")" class="btn btn-primary">Edit</a>
	<a href="@Url.Action("Delete", "Task")" class="btn btn-danger">Delete</a>
	<a href="@Url.Action("Details", "Task")" class="btn btn-primary">Details</a>
</div>
<div class="text-right mb-3">
	
</div>

<hr />

<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
		<tr>
			<th>Project Number</th>
			<th>Name</th>
			<th>Description</th>
			<th>Priority</th>
			<th>Status</th>
			<th>Assigned to</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Deadline</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var task in Model)
		{
			<tr>
				<td>@task.ProjectNumber</td>
				<td>@task.Name</td>
				<td>@task.Description</td>
				<td>@task.Status</td>
				<td>@task.Priority</td>
				<td>@task.Deadline</td>
				<td>@task.StartDate</td>
				<td>@task.EndDate</td>
			</tr>
		}
		</tbody>
	</table>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}