@model PartServiceModel


<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Part Image">
        <div class="card-body text-center">
            <h4>@Model.Name - 'Project:' @Model.ProjectNumber</h4>
            <h6>Article number: <b>@Model.PartArticleNumber</b></h6>
            <h6>Article number client: <b>@Model.PartClientNumber</b></h6>
            <h6>Tool No.: <b>@Model.ToolNumber</b></h6>
            <h6>3D-model: @Model.PartModel</h6>
            <br />
            <a asp-controller="Part" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-success">Details</a>
            @if (this.User.Identity.IsAuthenticated)
            {
	            <a asp-controller="Part" asp-action="Edit" asp-route-id="@Model.Id"
	               class="btn btn-warning">Edit</a>
	            <a asp-controller="Part" asp-action="Delete" asp-route-id="@Model.Id"
	               class="btn btn-danger">Delete</a>

                <p></p>
            }
        </div>
    </div>
</div>