@model OperatorDetailsServiceModel

@{
	ViewBag.Title = "Operator Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container">
	<div class="row">
	</div>
	<div class="col-lg-6 order-lg-1">
		<div class="card border-0">
			<div class="card-body">
				<p style="font-size: 30px;"><u>@Model.FullName</u></p>
				<p>Email address: <b>@Model.Email</b></p>
				<p>Phone number: @Model.PhoneNumber</p>
				<p>Status: @Model.AvailabilityStatus</p>
				<p>Is Active: @Model.IsActive</p>
				<p>Daily capacity: @Model.Capacity</p>
				<p>Currently assigned Tasks: @Model.CurrentTasks</p>
				<p>Total tasks completed: @Model.TotalCompletedTasks</p>

				<div class="form-inline">
					@if (User?.Identity?.IsAuthenticated ?? false)
					{
						<a class="btn btn-warning" asp-controller="Operator" asp-action="Edit"
						   asp-route-id="@Model.Id">Edit</a>
						<a class="ml-2 btn btn-danger" asp-controller="Operator" asp-action="Delete"
						   asp-route-id="@Model.Id">Delete</a>
					}
				</div>
			</div>
		</div>
	</div>
</div>